button {
    background-color:purple;
    color: white;
    font-size: 26px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}